@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

:root {
  --bg-color: #ffffff;
  --secondary-bg-color: #f8f9fa;
  --main-font-color: #000000;
  --secondary-font-color: #808080;
  --main-color: #ef5b7a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s linear;
}

html {
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  background-color: var(--bg-color);
  font-size: 62.5%;
  line-height: 1.7;
}

a {
  text-decoration: none;
  font-size: 1.8rem;
  display: inline-block;
  padding: 0.8rem 1.8rem;
  color: var(--main-font-color);
  background-color: var(--bg-color);
  border-radius: 0.5rem;
}

a:hover {
  color: var(--bg-color);
  background-color: var(--main-color);
}

p {
  font-size: 1.8rem;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

h1 {
  font-size: 4.6rem;
  font-weight: 700;
  color: var(--bg-color);
  letter-spacing: 2px;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 5px;
}

i {
  font-size: 1.8rem;
}

.container {
  max-width: 110rem;
  margin: 0 auto;
  padding: 2rem;
}

.btn {
  margin-top: 2rem;
  border: 1px solid var(--main-font-color);
}

.btn:hover {
  border: 1px solid var(--main-color);
}

.btn-red {
  color: var(--bg-color);
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}

.btn-red:hover {
  color: var(--main-font-color);
  border: 1px solid var(--main-font-color);
  background-color: var(--bg-color);
}

/* header section */
#header {
  position: fixed;
  background-color: var(--bg-color);
  width: 100%;
  z-index: 5;
}

.header-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.title {
  font-weight: 700;
  font-size: 2rem;
}

#mobile-menu {
  cursor: pointer;
  display: none;
}

/* main section */
#main {
  background-image: url('../images/bg-1.gif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70rem;
}

.main-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 70rem;
}

.main-content {
  margin-top: 3rem;
  margin-left: 3rem;
}

.main-text {
  color: #fff;
  font-weight: 300;
}

/* story section */
#story {
  color: var(--main-font-color);
  /* background-color: var(--main-font-color); */
}

.story-title {
  position: relative;
}

.story-title::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--main-color);
}

/* #story::before {
  content: '';
  background-image: url(../images/abstract-background-with-low-poly-design.jpg);
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
} */

.story-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.story-padding {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.story-text {
  flex: 4;
  margin-top: 3rem;
  /* flex-basis: 60rem; */
  font-size: 1.8rem;
}

/* speaker section */
#speakers {
  background-color: var(--secondary-bg-color);
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.speakers-title {
  text-align: center;
  position: relative;
}

.speakers-title::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--main-color);
}

.speaker-container {
  margin-top: 3rem;
}

.speaker-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
  margin-top: 5rem;
}

.speaker-card-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 6rem;
  margin-top: 10rem;
}

.speaker-img {
  border-radius: 15px 15px 0px 15px;
  overflow: hidden;
  cursor: pointer;
}

.speaker-img:hover {
  box-shadow: 10px 10px 0 var(--main-color);
}

.speaker-img img {
  width: 100%;
  height: auto;
}

.speaker-content {
  flex-basis: 42rem;
}

.speaker-introduce {
  margin-top: 1.8rem;
  color: var(--secondary-font-color);
  font-weight: 300;
}

/* agenda section */
#agenda {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.agenda-title {
  text-align: center;
  position: relative;
}

.agenda-title::before {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 45%;
  width: 5rem;
  height: 0.3rem;
  background-color: var(--main-color);
}

.agenda-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 3rem;
}

table {
  font-size: 1.8rem;
}

th,
td {
  padding: 1rem;
}

/* footer section */
#footer {
  background-color: var(--main-font-color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-title {
  color: var(--bg-color);
  font-weight: 700;
}

.partner {
  color: var(--bg-color);
  font-weight: 300;
}

/* media queries */
@media (max-width: 768px) {
  /* header section */
  #mobile-menu {
    display: block;
    font-size: 2rem;
  }

  #mobile-menu.fa-xmark {
    transform: rotate(180deg);
  }

  .nav-right {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background-color: var(--bg-color);
    border-top: 1px solid var(--secondary-font-color);
    border-bottom: 1px solid var(--secondary-font-color);
    flex-direction: column;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .nav-right.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .header-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  /* main section */
  .main-text {
    margin: 2rem 0;
  }

  /* footer section */
  .footer-title {
    font-size: 2rem;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 4rem;
  }

  /* story section */
  .story-container {
    flex-direction: column;
  }

  /* speakers section */
  #speakers {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  /* agenda section */
  #agenda {
    padding-top: 3rem;
    padding-bottom: 4rem;
  }

  /* footer section */
  .footer-container {
    justify-content: center;
    gap: 5rem;
  }
}
